"""
    Discord Bot to control your physical room
    Copyright (C) 2020 MorgVerd

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
"""

"""
listOfPrecences = {
	"status name" : "method",
    "status name" : "method" <- See no ,
}

How to set your own presences.
Above is a base layout. You should enter a status and then a method next to it.
You MUST ensure that the method name is either "playing" or "watching" in LOWERCASE.
After each line you should include a comma. HOWEVER, you must make sure that the last line doesnt.

"""

# Do not change this variable name
listOfPrecences = {
    "with code" : "playing",
    "with python3" : "playing",
    "MorgVerds RoomControlBot" : "playing",
    "on GitHub" : "playing",
    "some YouTube" : "watching",
    "some Twitch" : "watching"
}

